.list-items{
    font-size: 1.5rem;
}

.list-item_open > .list-item__items {
    display: block;
}

.list-item_open > .list-item__inner .list-item__arrow {
    transform: rotate(180deg);
}

.list-item__inner {
    display: flex;
    align-items: center;
    gap: 1.4em;
}

.list-item__items {
    padding-left: 1.5rem;
    display: none;
}

.list-item__arrow {
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
}

.list-item__folder {
    width: 1.8em;
}